
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
}

@media (max-width: 800px) {
    #logo {
        display: block;
        text-align: center;
    }
    
    #right {
        display: none !important;
    }
}

@media (max-width: 500px) {
    #albumart {
        width: 100% !important;
        margin: 0 !important;
        float: none !important;
    }
}

header {
    padding: 25px;
    background-color: hotpink;
    color: #000;
}

#logo {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 32px;
    cursor: pointer;
}

#right {
    display: flex;
    align-items: center;
    height: 41.6px;
    float: right;
}

#right div {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    border-right: 1px solid rgba(0,0,0,.25);
    cursor: pointer;
}

#right div:hover {
    background-color: rgba(0,0,0,.1);
}

#right div:last-child {
    padding: 7.5px 10px;
    border-right: 0;
}

#story {
    padding: 25px;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-size: 32px;
}

p {
    text-align: justify;
}

#albumart {
    float: right;
    width: 300px;
    margin-left: 25px;
}

#related {
    background-color: #222;
}

#related > div {
    padding: 25px;
    max-width: 700px;
    margin: 0 auto;
}

#related > div > div {
    display: inline-block;
    width: calc(100% / 3 - 3px);
    cursor: pointer;
}

#related > div > div > div {
    width: 100%;
    height: 125px;
    background-size: cover;
    background-position: center;
}

#related span {
    display: block;
    margin-top: 15px;
}

#related > div > div:hover span {
    text-decoration: underline;
}

footer {
    background-color: #111;
    padding: 25px 0;
    text-align: center;
    color: #666;
}

a {
    color: #888;
}