body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #000;
    overflow: hidden;
}

#unmute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #81f1f7;
    font-size: 2em;
    padding: 15px 50px;
    border-radius: 500px;
    cursor: pointer;
    transition: opacity 1s, transform 1s;
}

#unmute.off {
    opacity: 0;
    transform: translate(-50%,-50%) scale(.9);
}

#island {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-image: url(island.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s, transform 1s;
}

#island.off {
    opacity: 0;
    transform: translateY(100%);
}

#info {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    color: #888;
    transition: opacity 1s, transform 1s;
}

#info.off {
    opacity: 0;
    transform: translateY(-50%) scale(.9);
    pointer-events: none;
}

#clock {
    font-size: 7.5em;
    cursor: default;
}

#progress {
    display: inline-block;
    margin-bottom: 25px;
    width: 500px;
    height: 10px;
    border-radius: 500px;
    background-color: #111;
}

#progress > div {
    height: 10px;
    border-radius: 500px;
    background-color: #888;
    transition: width 1s;
}

#weather {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#weather.sunny {background-image: url(sunny.png)}
#weather.rainy {background-image: url(rainy.png)}
#weather.snowy {background-image: url(snowy.png)}